In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.parse import unquote

##### Users paths

In [2]:
#In the data2 folder open the 'paths_funinished copie.csv' file, the folder is in the same directory as the script with pandas
users_paths_df = pd.read_csv('../data2/paths_finished copie.csv' , sep = ';')
users_paths_df['path'] = users_paths_df['path'].apply(lambda x: x.split(';'))

#Decode from utf-8 all the name of the articles
users_paths_df['path'] = users_paths_df['path'].apply(lambda x: [unquote(i) for i in x])
users_paths_df['source'] = users_paths_df['path'].apply(lambda x: x[0] if x else None)
users_paths_df['target'] = users_paths_df['path'].apply(lambda x: x[-1] if x else None)
users_paths_df['path_length'] = users_paths_df['path'].apply(lambda x: len(x))

#Drop hashedIpAddress timestamp, duration_in_sec, and rating columns
users_paths_df = users_paths_df.drop(['hashedIpAddress','durationInSec', 'timestamp', 'rating'], axis=1)

users_paths_df

,path,source,target,path_length
0,"[14th_century, 15th_century, 16th_century, Pac...",14th_century,African_slave_trade,9
1,"[14th_century, Europe, Africa, Atlantic_slave_...",14th_century,African_slave_trade,5
2,"[14th_century, Niger, Nigeria, British_Empire,...",14th_century,African_slave_trade,8
3,"[14th_century, Renaissance, Ancient_Greece, Gr...",14th_century,Greece,4
4,"[14th_century, Italy, Roman_Catholic_Church, H...",14th_century,John_F._Kennedy,7
...,...,...,...,...
51290,"[Yagan, Ancient_Egypt, Civilization]",Yagan,Civilization,3
51291,"[Yagan, Folklore, Brothers_Grimm, <, 19th_cent...",Yagan,Fiction,9
51292,"[Yagan, Australia, England, France, United_Sta...",Yagan,U.S._Open_(tennis),7
51293,"[Yarralumla,_Australian_Capital_Territory, Aus...","Yarralumla,_Australian_Capital_Territory",Abraham_Lincoln,4
51294,"[Ziad_Jarrah, Germany, Jew]",Ziad_Jarrah,Jew,3

In [3]:
#Get the optimal paths by taking pairs of source and target and the path with the minimum length, keep path column
optimal_paths_df = users_paths_df.groupby(['source', 'target']).agg({'path_length':'min'}).reset_index()
optimal_paths_df = optimal_paths_df.rename(columns={'path_length':'min_path_length'})
optimal_paths_df ['path'] = optimal_paths_df.apply(lambda x: users_paths_df[(users_paths_df['source'] == x['source']) & (users_paths_df['target'] == x['target']) & (users_paths_df['path_length'] == x['min_path_length'])]['path'].values[0], axis=1)
optimal_paths_df

,source,target,min_path_length,path
0,10th_century,11th_century,2,"[10th_century, 11th_century]"
1,10th_century,Banknote,5,"[10th_century, Maya_civilization, Silver, Coin..."
2,10th_century,Country,3,"[10th_century, Germany, Country]"
3,10th_century,Harlem_Globetrotters,4,"[10th_century, Philippines, Basketball, Harlem..."
4,10th_century,History_of_democracy,10,"[10th_century, France, <, France, United_Kingd..."
...,...,...,...,...
28702,Zulu,Language,3,"[Zulu, English_language, Language]"
28703,Zulu,Slovenia,4,"[Zulu, South_Africa, Mediterranean_Sea, Slovenia]"
28704,ZÃ¼rich,Billie_Holiday,5,"[ZÃ¼rich, Richard_Wagner, Music, Jazz, Billie_H..."
28705,ZÃ¼rich,Mediterranean_Sea,4,"[ZÃ¼rich, Switzerland, Europe, Mediterranean_Sea]"
28706,â‚¬2_commemorative_coins,Irish_Sea,3,"[â‚¬2_commemorative_coins, Ireland, Irish_Sea]"

In [4]:
#Drop '<' in paths
optimal_paths_df['path'] = optimal_paths_df['path'].apply(lambda x: [i for i in x if i != '<'])

#Drop in paths, consecutive duplicates
optimal_paths_df['path'] = optimal_paths_df['path'].apply(lambda x: [x[i] for i in range(len(x)) if i == 0 or x[i] != x[i-1]])

optimal_paths_df

,source,target,min_path_length,path
0,10th_century,11th_century,2,"[10th_century, 11th_century]"
1,10th_century,Banknote,5,"[10th_century, Maya_civilization, Silver, Coin..."
2,10th_century,Country,3,"[10th_century, Germany, Country]"
3,10th_century,Harlem_Globetrotters,4,"[10th_century, Philippines, Basketball, Harlem..."
4,10th_century,History_of_democracy,10,"[10th_century, France, United_Kingdom, Constit..."
...,...,...,...,...
28702,Zulu,Language,3,"[Zulu, English_language, Language]"
28703,Zulu,Slovenia,4,"[Zulu, South_Africa, Mediterranean_Sea, Slovenia]"
28704,ZÃ¼rich,Billie_Holiday,5,"[ZÃ¼rich, Richard_Wagner, Music, Jazz, Billie_H..."
28705,ZÃ¼rich,Mediterranean_Sea,4,"[ZÃ¼rich, Switzerland, Europe, Mediterranean_Sea]"
28706,â‚¬2_commemorative_coins,Irish_Sea,3,"[â‚¬2_commemorative_coins, Ireland, Irish_Sea]"

In [27]:
filtered_df = optimal_paths_df[(optimal_paths_df['source'] == 'Food') & (optimal_paths_df['target'] == 'Athens')]
filtered_df['path'].values[0]

['Food', 'World_Trade_Organization', 'European_Union', 'Greece', 'Athens']

##### HTML file contents

In [21]:

#####DON'T RUN THIS CODE, IT TAKES A LOT OF TIME TO RUN#####

# Initialize a list to store the data
data = []

# Define the base directory where the folders are located
base_directory = '/Users/romainberquet/Desktop/epfl/dlab/projet/part1/data/wpcd/wp'

# Function to read HTML content
#def read_html_content(file_path):
    try:
        with open(file_path, 'r') as file:  # Open the file without enforcing a specific encoding
            return file.read()
    except UnicodeDecodeError:
        # If a UnicodeDecodeError occurs, you can handle it however you deem appropriate
        # For example, you can return None or an empty string
        return None

# Recursive function to go through each directory and subdirectory
#def process_directory(directory):
    for entry in os.scandir(directory):
        if entry.is_file() and entry.name.endswith('.htm'):
            # Decode the file name if it is URL-encoded (percent-encoded)
            decoded_filename = unquote(entry.name)
            # Attempt to read the HTML content, this may return None if a UnicodeDecodeError occurs
            html_content = read_html_content(entry.path)
            # If html_content is not None, append to the data list
            if html_content is not None:
                data.append({'filename': decoded_filename, 'content': html_content})
        elif entry.is_dir():  # If the entry is a directory, recurse into it
            process_directory(entry.path)

# Process the base directory
#process_directory(base_directory)

# Convert the list to a DataFrame
links_df = pd.DataFrame(data)

# Optionally, you can filter out the rows where content is None
links_df = links_df.dropna(subset=['content'])

links_df = links_df.sort_values(by='filename')

##### Extract links

In [ ]:
#####DON'T RUN THIS CODE, IT TAKES A LOT OF TIME TO RUN#####


# Define a function to extract Wikipedia links from HTML content
#def extract_wikipedia_links(html_content):
    soup = BeautifulSoup(html_content, 'html.parser')
    links = []
    for a_tag in soup.find_all('a', href=True, title=True):
        href = a_tag['href']
        # Check if the href contains the pattern indicating a Wikipedia link
        if '../../wp/' in href:
            # Append the title as the name of the linked page
            links.append(a_tag['title'])
    return links

# Apply the function to the 'content' column to create the new 'links' column
#links_df['links'] = links_df['content'].apply(extract_wikipedia_links)

#Drop '.htm' from the filename
#links_df['filename'] = links_df['filename'].apply(lambda x: x[:-4])

#links_df.head(5)

In [18]:
#File containing thename of the articles and their content
links_df = pd.read_csv('../data2/file_names_links.csv')

In [19]:
links_df

,filename,content,links
0,10th_century,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...","['9th century', '11th century', 'Time', 'Dark ..."
1,11th_century,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...","['10th century', '12th century', 'Time', 'Dark..."
2,12th_century,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...","['11th century', '13th century', 'Time', 'Hung..."
3,13th_century,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...","['12th century', '14th century', 'Time', 'Geng..."
4,14th_century,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...","['13th century', '15th century', 'India', 'Was..."
...,...,...,...
5404,Ã…land,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...","['List of countries by system of government', ..."
5405,Ã‰douard_Manet,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...","['Claude Monet', 'Paris', 'Paris', 'France', '..."
5406,Ã‰ire,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...","['Ireland', 'English language', 'Ireland', 'Re..."
5407,Ã“engus_I_of_the_Picts,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...","['Lion', 'DÃ¡l Riata', 'Scotland', 'Ireland', '..."
5408,â‚¬2_commemorative_coins,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...","['History', 'Monaco', 'Vatican City', 'Pope Jo..."

In [24]:
#Get row with Humans as filename
links_df[links_df['filename'] == 'Human']

Empty DataFrame
Columns: [filename, content]
Index: []

#### Build Dataset

In [20]:
optimal_paths_df

,source,target,min_path_length,path
0,10th_century,11th_century,2,"[10th_century, 11th_century]"
1,10th_century,Banknote,5,"[10th_century, Maya_civilization, Silver, Coin..."
2,10th_century,Country,3,"[10th_century, Germany, Country]"
3,10th_century,Harlem_Globetrotters,4,"[10th_century, Philippines, Basketball, Harlem..."
4,10th_century,History_of_democracy,10,"[10th_century, France, United_Kingdom, Constit..."
...,...,...,...,...
28702,Zulu,Language,3,"[Zulu, English_language, Language]"
28703,Zulu,Slovenia,4,"[Zulu, South_Africa, Mediterranean_Sea, Slovenia]"
28704,ZÃ¼rich,Billie_Holiday,5,"[ZÃ¼rich, Richard_Wagner, Music, Jazz, Billie_H..."
28705,ZÃ¼rich,Mediterranean_Sea,4,"[ZÃ¼rich, Switzerland, Europe, Mediterranean_Sea]"
28706,â‚¬2_commemorative_coins,Irish_Sea,3,"[â‚¬2_commemorative_coins, Ireland, Irish_Sea]"

In [22]:
import sklearn.model_selection
from sklearn.model_selection import train_test_split


# Split the data into 60% training and 40% into temp (which will be split further into validation and testing)
train_df, temp_df = train_test_split(optimal_paths_df, test_size=0.4, random_state=42)

# Split the temp data into 50% validation and 50% testing, which results in 20% of the original data in each
validation_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=42)

In [23]:
# Assuming df_paths and df_links are your initial dataframes

# Correct the merge operation if necessary
# Explode 'path' column to separate rows
train_df= train_df.explode('path')

# Merge on the exploded 'path' (current page) and 'filename' to get 'source_links'
train_df = pd.merge(train_df, links_df, left_on='path', right_on='filename', how='left')

# Prepare to track the next page in the path; this might need correction based on your DataFrame structure
train_df['next_source'] = train_df.groupby(['source', 'target'])['path'].shift(-1)

# Use rename to adjust column names
train_df = train_df.rename(columns={
    'source': 'source',
    'path': 'current_page',
    'links': 'current_page_links',
    'next_source': 'next_page',
    'target': 'target'
})

# Select only the relevant columns to avoid KeyError
train_df = train_df[['source', 'target', 'current_page', 'current_page_links', 'next_page']]
train_df

,source,target,current_page,current_page_links,next_page
0,Nationalism,Antwerp,Nationalism,"['Human', 'Politics', 'History of the world', ...",World_War_II
1,Nationalism,Antwerp,World_War_II,"['Battle of Normandy', 'Nuclear weapon', 'Unit...",Nazi_Germany
2,Nationalism,Antwerp,Nazi_Germany,"['Weimar Republic', 'English language', 'Eagle...",Germany
3,Nationalism,Antwerp,Germany,"['German language', 'Berlin', 'German language...",Belgium
4,Nationalism,Antwerp,Belgium,"['Dutch language', 'French language', 'German ...",Antwerp
...,...,...,...,...,...
95307,London,Libya,Libya,"['Socialism', 'Arabic language', 'Demographics...",NaN
95308,Solar_eclipse,HIV,Solar_eclipse,"['Moon', 'Earth', 'Sun', 'Europe', 'Lunar ecli...",Earth
95309,Solar_eclipse,HIV,Earth,"['Day', 'Sun', 'Moon', 'Gravity', 'Day', 'Nitr...",Africa
95310,Solar_eclipse,HIV,Africa,"['SOS Children in Africa', 'Continent', 'Asia'...",HIV
95311,Solar_eclipse,HIV,HIV,"['AIDS', 'World Health Organization', 'Africa'...",NaN

In [25]:
#Remove nan
train_df = train_df.dropna()
train_df

,source,target,current_page,current_page_links,next_page
0,Nationalism,Antwerp,Nationalism,"['Human', 'Politics', 'History of the world', ...",World_War_II
1,Nationalism,Antwerp,World_War_II,"['Battle of Normandy', 'Nuclear weapon', 'Unit...",Nazi_Germany
2,Nationalism,Antwerp,Nazi_Germany,"['Weimar Republic', 'English language', 'Eagle...",Germany
3,Nationalism,Antwerp,Germany,"['German language', 'Berlin', 'German language...",Belgium
4,Nationalism,Antwerp,Belgium,"['Dutch language', 'French language', 'German ...",Antwerp
...,...,...,...,...,...
95305,London,Libya,Latin_alphabet,"['Alphabet', 'English language', 'Alphabet', '...",Africa
95306,London,Libya,Africa,"['SOS Children in Africa', 'Continent', 'Asia'...",Libya
95308,Solar_eclipse,HIV,Solar_eclipse,"['Moon', 'Earth', 'Sun', 'Europe', 'Lunar ecli...",Earth
95309,Solar_eclipse,HIV,Earth,"['Day', 'Sun', 'Moon', 'Gravity', 'Day', 'Nitr...",Africa
95310,Solar_eclipse,HIV,Africa,"['SOS Children in Africa', 'Continent', 'Asia'...",HIV

In [24]:
test_df= test_df.explode('path')

# Merge on the exploded 'path' (current page) and 'filename' to get 'source_links'
test_df = pd.merge(test_df, links_df, left_on='path', right_on='filename', how='left')

# Prepare to track the next page in the path; this might need correction based on your DataFrame structure
test_df['next_source'] = test_df.groupby(['source', 'target'])['path'].shift(-1)

# Use rename to adjust column names
test_df = test_df.rename(columns={
    'source': 'source',
    'path': 'current_page',
    'links': 'current_page_links',
    'next_source': 'next_page',
    'target': 'target'
})

# Select only the relevant columns to avoid KeyError
test_df = test_df[['source', 'target', 'current_page', 'current_page_links', 'next_page']]
test_df

,source,target,current_page,current_page_links,next_page
0,History_of_computing_hardware,I_Want_to_Hold_Your_Hand,History_of_computing_hardware,"['History of the Internet', 'Clay', 'Abacus', ...",World_War_II
1,History_of_computing_hardware,I_Want_to_Hold_Your_Hand,World_War_II,"['Battle of Normandy', 'Nuclear weapon', 'Unit...",United_Kingdom
2,History_of_computing_hardware,I_Want_to_Hold_Your_Hand,United_Kingdom,"['French language', 'London', 'English languag...",The_Beatles
3,History_of_computing_hardware,I_Want_to_Hold_Your_Hand,The_Beatles,"['Paul McCartney', 'Liverpool', 'England', 'Pa...",I_Want_to_Hold_Your_Hand
4,History_of_computing_hardware,I_Want_to_Hold_Your_Hand,I_Want_to_Hold_Your_Hand,"['The Beatles', 'United States', 'United Kingd...",NaN
...,...,...,...,...,...
31930,Benjamin_Franklin,Myanmar,Country,"['United Kingdom', 'United Kingdom', 'Tibet', ...",Tibet
31931,Benjamin_Franklin,Myanmar,Tibet,"['SOS Children: India', ""People's Republic of ...",Himalayas
31932,Benjamin_Franklin,Myanmar,Himalayas,"['Asia', 'Sanskrit', 'Mount Everest', 'Andes',...",Asia
31933,Benjamin_Franklin,Myanmar,Asia,"['Continent', 'Earth', 'Europe', 'Suez Canal',...",Myanmar
31934,Benjamin_Franklin,Myanmar,Myanmar,"['List of countries by system of government', ...",NaN

In [26]:
#Remove nan
test_df = test_df.dropna()

In [27]:
validation_df= validation_df.explode('path')

# Merge on the exploded 'path' (current page) and 'filename' to get 'source_links'
validation_df = pd.merge(validation_df, links_df, left_on='path', right_on='filename', how='left')

# Prepare to track the next page in the path; this might need correction based on your DataFrame structure
validation_df['next_source'] = validation_df.groupby(['source', 'target'])['path'].shift(-1)

# Use rename to adjust column names
validation_df = validation_df.rename(columns={
    'source': 'source',
    'path': 'current_page',
    'links': 'current_page_links',
    'next_source': 'next_page',
    'target': 'target'
})

# Select only the relevant columns to avoid KeyError
validation_df = validation_df[['source', 'target', 'current_page', 'current_page_links', 'next_page']]
validation_df

,source,target,current_page,current_page_links,next_page
0,Cello,Forest,Cello,"['Musical instrument', 'Musical instrument', '...",Ebony
1,Cello,Forest,Ebony,"['Scientific classification', 'Plant', 'Binomi...",Tree
2,Cello,Forest,Tree,"['Sequoia', 'Wood', 'Plant', 'Agriculture', 'A...",Forest
3,Cello,Forest,Forest,"['Slovenia', 'Tree', 'Soil', 'Earth', 'Biosphe...",NaN
4,Family,Alcohol,Family,"['Ouagadougou', 'Burkina Faso', 'Roman Empire'...",Religion
...,...,...,...,...,...
31914,Glacier,English_language,English_language,"['Australia', 'Canada', 'Republic of Ireland',...",NaN
31915,Civilization,New_moon,Civilization,"['City', 'Parthenon', 'Athens', 'Machu Picchu'...",United_States
31916,Civilization,New_moon,United_States,"['Washington, D.C.', 'New York City', 'America...",Moon
31917,Civilization,New_moon,Moon,"['Earth', 'Gravity', 'Earth', 'English languag...",New_moon
31918,Civilization,New_moon,New_moon,"['Moon', 'Sun', 'Hebrew calendar', 'Saudi Arab...",NaN

In [30]:
validation_df = validation_df.dropna()
validation_df

,source,target,current_page,current_page_links,next_page
0,Cello,Forest,Cello,"['Musical instrument', 'Musical instrument', '...",Ebony
1,Cello,Forest,Ebony,"['Scientific classification', 'Plant', 'Binomi...",Tree
2,Cello,Forest,Tree,"['Sequoia', 'Wood', 'Plant', 'Agriculture', 'A...",Forest
4,Family,Alcohol,Family,"['Ouagadougou', 'Burkina Faso', 'Roman Empire'...",Religion
5,Family,Alcohol,Religion,"['Christianity', 'Judaism', 'Hinduism', 'Islam...",Islam
...,...,...,...,...,...
31912,Glacier,English_language,Greenland,"['List of countries by system of government', ...",North_America
31913,Glacier,English_language,North_America,"['Continent', 'Earth', 'Arctic Ocean', 'Atlant...",English_language
31915,Civilization,New_moon,Civilization,"['City', 'Parthenon', 'Athens', 'Machu Picchu'...",United_States
31916,Civilization,New_moon,United_States,"['Washington, D.C.', 'New York City', 'America...",Moon
31917,Civilization,New_moon,Moon,"['Earth', 'Gravity', 'Earth', 'English languag...",New_moon

In [31]:
#Push train, validation and test dataframes to csv files and save to ../data_training
train_df.to_csv('../data_training/train.csv', index=False)
validation_df.to_csv('../data_training/validation.csv', index=False)
test_df.to_csv('../data_training/test.csv', index=False)

In [36]:
from datasets import Dataset, DatasetDict, load_dataset
from huggingface_hub import HfFolder, HfApi

# Convert your Pandas DataFrames to Hugging Face Dataset objects
train_dataset = Dataset.from_pandas(train_df)
validation_dataset = Dataset.from_pandas(validation_df)
test_dataset = Dataset.from_pandas(test_df)

# Create a DatasetDict
dataset_dict = DatasetDict({
    'train': train_dataset,
    'validation': validation_dataset,
    'test': test_dataset
})

# You need to log in to Hugging Face in your environment. The simplest way is to use `huggingface-cli login`
# from your terminal, which will ask for your Hugging Face credentials and store a token locally.
# Alternatively, you can log in programmatically as shown below, but this is less secure.

# hf_password = "your_hf_password" # It's safer to use an authentication token
HfFolder.save_token('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') # This is not recommended for security reasons

# Push to Hugging Face Hub
# Replace "your_dataset_name" with the name you want to give your dataset. Make sure it's unique!
# Replace "your_hf_username" with your actual Hugging Face username.
dataset_dict.push_to_hub("berquetR/dlab_project_optimal_links")

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/79 [00:00<?, ?ba/s]

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/27 [00:00<?, ?ba/s]

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/27 [00:00<?, ?ba/s]

README.md: 0.00B [00:00, ?B/s]

Repo card metadata block was not found. Setting CardData to empty.

CommitInfo(commit_url='https://huggingface.co/datasets/berquetR/dlab_project_optimal_links/commit/4a2776a05235f8944cd9e942bb6ef3e11afc9d84', commit_message='Upload dataset', commit_description='', oid='4a2776a05235f8944cd9e942bb6ef3e11afc9d84', pr_url=None, pr_revision=None, pr_num=None)